*{
    padding: 0;
    margin: 0;
}
.bg {
    background: url(../background2.jpg) no-repeat;
    background-size:cover;
    height: 100vh;
    width: 233vh;
   
}
.nab {
    height: 80px;
    width: 100%;
    background: rgba(3, 28, 37, 0.281);
}

.nab ul{
    float: right;
    margin-right: 20px;
}
.nab ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.nab ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family:'Roboto',sans-serif;
    transition: .4s;

}
.nab ul li a.active,
.nab ul li a:hover{
    background: red;
    border-radius: 2px;
}

.tag {
    position: relative;
    left: 50%;
    right: 50%;
    height: 35px;
    width: 250px;
    font-size: 22px;
    font-weight:bolder;
    color: #f8f8f8;
    background: #26575a;
    border: 1px solid #1a1616;
    outline: none;
    cursor: pointer;
}
.table {
    box-shadow: 0 0 10px rgba(235, 234, 234, 0.1);
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    font-weight: bold;
    table-layout:auto;  
}
.table thead th {
    background: #a17973;
    color: #ffffff;
}

.table td,
.table th {
    padding: 10px 20px;
    
}

.table tbody tr:nth-of-type(even) {
    background: #eeeeee;
}
.table tbody tr:nth-of-type(odd) {
    background: #beb3be;
}


.table tbody tr:last-of-type {
    border-bottom: 2px solid #009578;
}